/* START ICON ROTATION */

.i-add {
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.i-add:hover {
  opacity: 0.7;
  box-shadow: rgb(192, 192, 192) 0px 0px 10px 0px;
  transform: rotate(-180deg);
}

/* END ICON ROTATION */